Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "OPTIONS, HEAD, GET, PUT"
Header set Access-Control-Allow-Headers "Authorization, Content-Type"
Header set Access-Control-Allow-Credentials "true"

RewriteEngine on
RewriteCond %{REQUEST_METHOD} (DELETE|PUT)
RewriteRule ^(.*)$ index.php?uri=$1 [B,L,QSA]
